*
!.tmux.conf
!.gitignore
!.conkyrc
!bin
!tcssh
!.bashrc
!.bash_profile
!.config
!.config/bspwm
!.config/bspwm/bspwmrc
!.config/sxhkd
!.config/sxhkd/sxhkdrc
!.config/dunst
!.config/dunst/dunstrc
!.config/compton/compton.conf
!.config/polybar
!.config/polybar/config
!.config/termite
!.config/termite/config
!.local
!.local/share
!.local/share/rofi
!.local/share/rofi/themes
!.local/share/rofi/themes/*
