*
!.tmux.conf
!.gitignore
!.conkyrc
!bin
!tcssh
!.deckxstream.json
!.bashrc
!.bash_profile
!.config
!.config/DankMaterialShell
!.config/DankMaterialShell/settings.json
!.config/niri
!.config/niri/config.kdl
!.config/niri/local
!.config/niri/local/*.kdl
