configuration {
  show-icons:                   true;
  icon-theme:                   "Papirus";
  combi-modi:                   [drun,run];
  modi:                         "combi";
  combi-hide-mode-prefix:       true;
}

* {
  background:                   #161616;
  background-alt:               @background;
  foreground:                   #cccccc;
  lightfg:                      #dddddd;
  lightbg:                      #222222;
  border:                       #42717b;
  border-alt:                   #6d878d;
  selected:                     @lightbg;
  urgent:                       #e84f4f;
}

window {
  transparency:                 "real";
  background-color:             @background;
  text-color:                   @foreground;
  border:                       0 0 25px 0;
  border-color:                 @border;
  border-radius:                25px 25px 50px 50px;
  padding:                      0;
}

prompt {
  enabled:                      false;
}

entry {
  background-color:             @background;
  text-color:                   @foreground;
  placeholder:                  " Search Applications";
  blink:                        true;
}


inputbar {
  background-color:             @background;
  border-color:                 @border-alt;
  border:                       0 0 5px 0;
  border-radius:                25px;
  padding:                      10px 20px;
  margin:                       0;
  children:                     [ prompt, entry ];
}

listview {
  background-color:             @background;
  lines:                        5;
  columns:                      4;
  scrollbar:                    false;
  border:                       0;
}

mainbox {
  spacing:                      20px;
  background-color:             @background;
  border:                       0 0 25px 0;
  border-color:                 @border-alt;
  border-radius:                50px;
  padding:                      20px;
}

element {
  background-color:             @background;
  text-color:                   @foreground;
  orientation:                  vertical;
  border-radius:                0%;
  padding:                      10px 0px;
}

element-icon {
  horizontal-align:             0.5;
  size:                         64px;
}

element.alternate.normal {
  background-color:             @background;
  text-color:                   @foreground;
}

element-text {
  horizontal-align:             0.5;
  margin:                       5px 20px 0 20px;
}

element selected {
  background-color:             @selected;
  border-radius:                25px;
  border-color:                 @border-alt;
  border:                       0 0 5px 0;
}